{% extends 'project_manager_home.html' %}
{% block body %}
<div class="container">
    <h2>Assign</h2>
    <div class="form-group">
         <form action="/hrapp/assign/" method="POST" data-toggle="validator" role="form"> 
            {% csrf_token %}
            <label>Category</label>
            <select class="form-control" name="selection">
                <option value="Developer">Developers</option>
                <option value="Coding">Coding</option>
                <option value="Desiging">Designing</option>
                <option value="Full Stack">Full Stack Developers</option>
            </select><br>

            <label>Team Lead Name</label>
            <input class="form-control has-feedback" id="tlead" placeholder="Enter Team Lead Name" name="tlead" required><br>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">SELECT EMPLOYEES</button>
            <div class="modal fade" id="myModal" role="dialog">
               <div class="modal-dialog" width=700px>
                    <div class="modal-content">
                       <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Employees List</h4>
                       </div>
                <div class="modal-body">
                    <div id="subdiv" class="row">
                        {% for user in username %}
                            <div class="innerDiv col-lg-3" width=250px>
                              <input type="checkbox" value="{{user.username}}" name="employeecheckbox" required><label>{{user.username}}</label>
                              </div>
                        {% endfor %}
                     </div>
                  </div>
                <div class="modal-footer">
                  <button type="button" id="click" class="btn btn-default" data-dismiss="modal">SELECT</button>
    
              </div>
            </div>
          </div>
        </div>
     <br><br> 
             <br>
             <table class="table table-striped" id="list">
                <tr>
                    <th rowspan="2" >S.No</th>
                    <th colspan="4" >Category</th>
                </tr>
                <tr>
                    <th>Developers</th>
                    <th>Coding</th>
                    <th>Designing</th>
                    <th>Full Stack Developers</th>
                </tr>
                <tr>
                  <td>
                    {{response.id}}
                  </td>
                  <td>
                    {{response.category}}
                  </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-default" onclick="home.html">Back</button>
             <button type="submit" id="continue" class="btn btn-default">Continue</button><br><br>
             
          </form>
      </div>
      </div>
    
   {% endblock %}