<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Employee detail</h2>
  <p></p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>candidate_id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Qualification</th>
        <th>Year of pass</th>
        <th>Experiance</th>
        <th colspan="2">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>riya</td>
        <td>f</td>
        <td>7892</td>
        <td>asdfgh</td>
        <td>123456</td>
        <td>agshd@sdfghj</td>
        <td>mca</td>
        <td>2000</td>
        <td>yes</td>
        <td><button>approve</button>
          <button>reject</button></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
