
{% extends 'hr_home.html'%}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
<div class="container">
  <form action="/myapp/candidate_view/" method="POST">
  <h2>CANDIDATE LIST</h2>
  <hr>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>candidate_id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Qualification</th>
        <th>Year of pass</th>
        <th>Experiance</th>
        <th>Email</th>
      </tr>
    </thead>
     <tbody>
    {% for candidate in candidatelist %}
    <tr>
      <td>{{candidate.id}}</td>
      <td>{{candidate.candidate_name}}</td>
      <td>{{candidate.gender}}</td>
      <td>{{candidate.dob}}</td>
      <td>{{candidate.address}}</td>
      <td>{{candidate.phone_no}}</td>
      <td>{{candidate.qualification}}</td>
      <td>{{candidate.year_of_pass}}</td>
      <td>{{candidate.experience}}</td>
      <td>{{candidate.fk_login.username}}</td>
      <td><button class="btn btn-primary" type="submit"><a href="/myapp/candidate_resume?id={{candidate.id}}" style="color: white">View Resume</a></button></td>

    </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
</div>
{% endblock %}
