
{% extends 'hr_home.html'%}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
<div class="container">
  <form action="/hrapp/candidate_resume/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <h2>RESUME</h2>
  <hr>
  <table>
    <tr>
      <th>Resume</th>
      <th>Company Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Designation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Period of work</th>
    </tr>
      
      {% if experience %}
    <tr>
      {% if resume %}
      <td rowspan="6"><img src="{{resume.resume_upload.url}}" width="500px" height="500px"></td>
      {% endif %}
      <td>{{experience.company_name1}}</td>
      <td>{{experience.designation1}}</td>
      <td>{{experience.period1}}</td>
    </tr>
    <tr>
      <td>{{experience.company_name2}}</td>
      <td>{{experience.designation2}}</td>
      <td>{{experience.period2}}</td>
    </tr>
    <tr>
      <td>{{experience.company_name3}}</td>
      <td>{{experience.designation3}}</td>
      <td>{{experience.period3}}</td>
    </tr>
      {% endif %}
    </table>
    <button class="btn btn-danger" type="submit"><a href="/hrapp/candidate_view/" style="color: white">Back</a></button>
     

</form>
</div>
{% endblock %}
