{% extends 'project_manager_home.html' %}

{% block body %}
<div class="container">
	<h2>Cost Estimation</h2>
	<form action="/hrapp/costestimate/" method="POST">
		<div class="form-group">
			<label>Software</label>
		    <input type="text"  class="form-control" id="software" placeholder="Enter Software Estimation" required><br>

		    <label>Hardware</label>
		    <input type="text"  class="form-control" id="hardware" placeholder="Enter Hardware Estimation"required><br>

		    <label>Equipment</label>
		    <input type="text"  class="form-control" id="equipment" placeholder="Enter Equipment Estimation"><br>

		    <label>Total Cost</label>
		    <input type="text"  class="form-control" id="total"><br>

		    <button class="btn btn-primary">SAVE</button>



         </div>
		
	</form>
  

</div>
{% endblock %}