{% extends 'project_home.html' %}
 {% block body %} 
<div class="container">
    <form action="/hrapp/dept/" method="POST" data-toggle="validator" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label>Employee Id</label>
            <select>
                <option>{{employee.id}}</option>

            </select><br>

            <label>Employee Name</label>
            <input type="text" value="{{employee.fname}} {{employee.lname}}" name="name" id="name" placeholder="Employee Name" required><br>
              
            <label>Departement</label>
            <select required>
                <option>Coding</option>
                <option>Designing</option>
                <option>Techincal</option>
                <option>Planning</option>
                <option>Developing</option>
            </select><br>
            <button class="btn btn-primary">SUBMIT</button>
        </div>

    </form>

</div>
{% endblock %}