{% extends 'hr_home.html'%}


{% block body %}
<script type="text/javascript">
  $('document').ready( () =>{
      $('.btn btn-primary').click( (id) =>{
        console.log(id);

        $.ajax({
          url:'http://127.0.0.1:8000/hrapp/delete/',
          type:'GET',
        csrfmiddlewaretoken:'{{ csrf_token }}',
          data:{
            id,
          },
          success: res =>{
           $.toast({
             text:res,
             heading:'Note',
             icon: 'success',
             showHideTransition: 'fade',
             allowToastClose: true,
             hideAfter: 1500,
             stack: 5,
             position:'bottom-left',
             loader: true,
             loaderBg:'#9EC600'
          });
          setTimeout(() =>{
            location.reload();
          }, 1500);
        },
        error: r =>{
          $.toast({
            text:r,
            heading:'Note',
            icon: 'error',
            showHideTransition: 'fade',
            allowToastClose: true,
            hideAfter: 3000,
            stack: 5,
            position:'bottom-left',
            loader: true,
            loaderBg:'#9EC600'
          });
          }
        });
        });
    });
</script>

<div class="container">
  <form action="/hrapp/employee_view" method="POST" enctype="multipart/form-data">
  <h2>EMPLOYEE DETAILS</h2>
  <p></p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Emp_id</th>
        <th>Image</th>
        <th>Name</th>
        <th>DOB</th>
        <th>Phone</th>
        <th>Designation</th>
        <th>Qualification</th>
        <th>Experience</th>
        <th>Join date</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in userlist %}
    <tr>
      <td>{{user.id}}</td>
      <td><img src="{{user.upload_image.url}}" width="100px" height="100px"></td>
      <td>{{user.fname}}{{user.lname}}</td>
      <td>{{user.dob}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.designation}}</td>
      <td>{{user.emp_qualification}}</td>
      <td>{{user.emp_experience}}</td>
      <td>{{user.join_date}}</td>
      <td>{{user.fk_login.username}}</td>
      <td><button class="btn btn-primary"  type="submit"><a href="/hrapp/delete?id={{user.id}}" style="color: white">Delete</a></button></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
</div>
{% endblock %}
