<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>EMPLOYEE DETAILS</h2>
  <p></p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Emp_id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Password</th>
        <th>Designation</th>
        <th>Qualification</th>
        <th>Experiance</th>
        <th>Salary</th>
        <th>Join date</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>
</div>

</body>
</html>
