{% extends 'hr_home.html'%}


{% block body %}
<script type="text/javascript">
  $('document').ready( () =>{ 

    $('#btn1').click( () =>
  {
    // $('#div1').hide();
    $('#div2').show();
  });

      $('.signupbtn').click( () =>{

        $.ajax({
          url:'http://127.0.0.1:8000/hrapp/register/',
          type:'POST',
          data:{
            upload_image = $('#file').val(),
            fname = $('#fname').val(),
			      lname = $('#lname').val(),
			      gender = $('.gender').val(),
			      dob = $('#dob').val(),
			      address = $('#address').val(),
			      phone =$('#phone').val(),
			      email = $('#email').val(),
			      password =$('#password').val(),
			      designation = $('#designation').val(),
			      qualification = $('#qualification').val(),
			      experience = $('#experience').val(),
			      salary = $('#salary').val(),
			      join_date = $('#join_date').val(),
    			},
          success: res =>{
              console.log(res);
              $.toast({
    						text:res,
    						heading:'Note',
    						icon: 'success',
    						showHideTransition: 'fade',
    						allowToastClose: true,
    						hideAfter: 1500,
    						stack: 5,
    						position:'bottom-left',
    						loader: true,
    						loaderBg:'#9EC600'
              });
              $('#file').val();
              $('#fname').val();
              $('#lname').val();
              $('.gender').val();
              $('#dob').val();
              $('#address').val();
              $('#phone').val();
              $('#email').val();
              $('#password').val();
              $('#designation').val();
              $('#qualification').val();
              $('#experience').val();
              $('#salary').val();
              $('#join_date').val();
              setTimeout(() =>{
    						location.reload();
    					}, 1500);
              
            },
            error: r =>{
              console.log(r);
              $.toast({
    						text:r,
    						heading:'Note',
    						icon: 'error',
    						showHideTransition: 'fade',
    						allowToastClose: true,
    						hideAfter: 3000,
    						stack: 5,
    						position:'bottom-left',
    						loader: true,
    						loaderBg:'#9EC600'
    					});
          }
        });
        });
    });
</script>



  <div class="container">
    <h1>EMPLOYEE REGISTRATION</h1>
    <hr>
    <form action="/hrapp/register/"  method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="form-group" id ="div1">
      <label>Upload image:</label>
      <input type="file" name="file_uploads" class="form-control" id="file" required>

      <label>Firstname:</label>
      <input type="text" name="emp_firstname" placeholder="Enter the firstname" class="form-control" id="fname" required>
    
      <label>Lastname:</label>
      <input type="text" name="emp_lastname" placeholder="Enter the lastname" class="form-control" id="lname" required>
    
  
      <label>Gender:</label>
      <input type="radio" name="emp_gender" value="male" required class="gender">Male
        <input type="radio" name="emp_gender" value="female" required class="gender">female
  
  <br>
      <label>Date of birth:</label>
      <input type="date" name="emp_dob" class="form-control" required>


      <label>Address:</label>
      <textarea rows="5" name="emp_address" placeholder="Enter address" class="form-control" required></textarea>

    
      <label>Mobile No:</label>
      <input type="text" name="emp_mobileno" placeholder="Enter Mobile Number" class="form-control" maxlength="10" minlength="10" required>

      <div class="clearfix">
        <input type="reset">
        <input type="button" id="btn1" value="Next">
      </div>
     
    </div>
    

    <div class="form-group" id ="div2" hidden>
      <label>Designation:</label>
        <input type="checkbox" name="emp_designation" value="HR Manager">HR Manager
        <input type="checkbox" name="emp_designation" value="Project Manager">Project Manager
        <input type="checkbox" name="emp_designation" value="Other">Other
    <br>
    
      <label>Employee Qualification:</label>
      <input type="text" name="emp_qualification" placeholder="Enter employee qualification" class="form-control">
    
    
      <label>Employee Experience(in yr):</label>
      <input type="text" name="emp_experience" placeholder="Enter the No. of years of experience" class="form-control">
    

      <label>Date of join:</label>
      <input type="date" name="emp_joindt" class="form-control">

    
      <label>Basic salary:</label>
      <input type="text" name="emp_salary" placeholder="Enter the basic salary" class="form-control" required>
    
      <div class="clearfix">
        <input type="reset">
        <input type="button" id="btn2" value="Next">
      </div>
    </div>
    <div class="form-group" id ="div3" hidden>
  
      <label>Email:</label>
      <input type="email" name="emp_email" placeholder="Register using active email id" class="form-control" required>
  
    
      <label>Password:</label>
      <input type="password" name="emp_password" pattern="{8,}" title="Must contain at  least 8 or more characters" placeholder="Enter a password" class="form-control" required>
    
      
      <div class="clearfix">
        <button type="reset" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Save</button>
      </div>
    </div>
  </form>
  </div>

{% endblock %}
