{% extends 'hr_home.html'%}
{% block body%}
<script type="text/javascript">
   $('document').ready( ()=>{
         $('.signup').click( ()=>{
           $.ajax({
             url:'http://127.0.0.1:8000/hrapp/exam_detail/',
             type:'POST',
            //  data:{
            //   sdate:$('#sdate').val(),
    				// 	stime:$('#stime').val(),
    				// 	edate:$('#edate').val(),
    				// 	etime:$('#etime').val(),
    				// 	duration:$('#duration').val(),
    					
    				// },
            success: res =>{
              console.log(res);
              $.toast({
    						text:res,
    						heading:'Note',
    						icon: 'success',
    						showHideTransition: 'fade',
    						allowToastClose: true,
    						hideAfter: 1500,
    						stack: 5,
    						position:'bottom-left',
    						loader: true,
    						loaderBg:'#9EC600'
              });
              setTimeout(() =>{
    						location.reload();
    					}, 1500);
              
            },
            error: r =>{
              console.log(r);
              $.toast({
    						text:r,
    						heading:'Note',
    						icon: 'error',
    						showHideTransition: 'fade',
    						allowToastClose: true,
    						hideAfter: 3000,
    						stack: 5,
    						position:'bottom-left',
    						loader: true,
    						loaderBg:'#9EC600'
    					});

            }

           });

     });

   });
</script>
<div class="container">
  <form action="/hrapp/exam_detail/" method="POST">
  <h2>EXAMINATION DETAIL</h2>  
  <hr> 
  <div class="form-group">
    <label>Start Date</label>
    <input type="date" name="start_dt" id="sdate" class="form-control" required="">
    <label>Start Time</label>
    <input type="time" name="start_time" id="stime" class="form-control" required="">
    <label>End Date</label>
    <input type="date" name="end_dt" id="edate" class="form-control" required="">
    <label>End Time</label>
    <input type="time" name="end_time" id="etime" class="form-control" required="">
    <label>Duration</label>
    <input type="time" name="duration" id="duration" class="form-control" required="">

  </div>      
  <div class="clearfix">
    <button type="button" class="cancelbtn">Cancel</button>
    <button type="submit" class="signupbtn">Add</button>
  </div>
  </form>
  </div>

 

{% endblock %}
