<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" 
          href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
	<style type="text/css">
		#companyname{
			color: white;
			font-size: 50px;
			font-family: cursive;
		}
		ul{
			float:right;
			list-style-type: none;
			display: inline-flex;
		}
		li{
			color: white;
			font-style: bold;
			font-size: 20px;
			width: 130px;
		}
		i{
			position: absolute;
			color: white;
		}
	</style>
</head>
<body background="images/Hero.jpg">
<div>	
<header>
	<nav>
		<span id="companyname">EXTENT</span>
		<ul>
			<li> HOME </li>
			<li> REGISTER </li>
			<li> VIEWS </li>
			<li> GENERTE </li>
			<li> PROFILE </li>
			<li> LOGOUT </li>
			<li><i class="fa fa-envelope icon"></i></li>
		</ul>
	</nav>
</header>
</div>
<div>
	
</div>
</body>
</html>