<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="POST" action="">
	<table>
		<tr>
			<th>HR REGISTRATION FORM</th>
		</tr>
		<tr>
			<td>Firstname:</td>
			<td><input type="text" name="hr_firstname" placeholder="Enter the firstname"></td>
		</tr>
		<tr>
			<td>Lastname:</td>
			<td><input type="text" name="hr_lastname" placeholder="Enter the lastname"></td>
		</tr>
		<tr>
			<td>Gender:</td>
			<td><input type="radio" name="hr_gender">Male
				<input type="radio" name="hr_gender">female</td>
		</tr>
		<tr>
			<td>Date of birth:</td>
			<td><input type="date" name="hr_dob"></td>
		</tr>
		<tr>
			<td>Address:</td>
			<td><textarea rows="5" name="hr_address" placeholder="Enter address"></textarea></td>
		</tr>
		<tr>
			<td>Mobile No:</td>
			<td><input type="text" name="hr_mobileno" placeholder="Enter Mobile Number"></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type="text" name="hr_email" placeholder="Register using active email id"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="hr_password" placeholder="Enter a password"></td>
		</tr>
		<tr>
			<td>Designation:</td>
			<td><input type="text" name="hr_designation" value="HR Manager"></td>
		<tr>
			<td>Employee Qualification:</td>
			<td><input type="text" name="hr_qualification" placeholder="Enter HR qualification"></td>
		</tr>
		<tr>
			<td>Employee Experiance(in yr):</td>
			<td><input type="text" name="hr_experiance" placeholder="Enter the No. of years of experiance"></td>
		</tr>
		<tr>
			<td>Date of join:</td>
			<td><input type="date" name="hr_joindt"></td>
		</tr>
		<tr>
			<td>Basic salary:</td>
			<td><input type="text" name="hr_salary" placeholder="Enter the basic salary"></td>
		</tr>
		<tr>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>
</form>
</body>
</html>