{% extends 'hr_home.html'%}
{% block body%}

<div class="container">
  <form action="/hrapp/interview/" method="POST">
  <h2>INTERVIEW DETAIL</h2>  
  <hr> 
  <div class="form-group">
    
    <label>Interview Type:</label>
    <select class="form-control" name="interview_type">
      <option selected="">select</option>
      <option value="face2face" >Face to face</option>
      <option value='videocall'>Video call</option>
      <option value="voicecall">Voice call</option>
    </select>
    <label>Interview Date</label>
    <input type="date" name="interview_dt" class="form-control">
    <label>Interview Time</label>
    <input type="time" name="interview_time" class="form-control">
    <label>Location</label>
    <input type="text" name="location" class="form-control">
    <label>Mail to</label>
    <input type="email" name ="mail" class="form-control">

  </div>      
  <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Add</button>
    </div>
  </form>
</div>
{% endblock%}
