{% extends 'project_manager_home.html' %}


{% block body %}
<div class="container">
  <h2>Intimation Letter</h2>
  <form action="/hrapp/intimation/" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Enter the Name of Employee" id="ename" value="{{employee.fname}} {{employee.lname}}"><br>

      <label>Date</label>
      <input type="Date" name="" id="date" class="form-control"><br>

      <label>Email</label>
      <input type="text" name="" id="mail" class="form-control" placeholder="Enter the Employee Mail"><br>

      <label for="sel1">Departement</label>
      <select class="form-control" id="dept">
        <option>Planning</option>
        <option>Design</option>
        <option>Coding</option>
        <option>Development</option>
        <option>Testing</option>
      </select><br>

      <label>Reason</label>
      <textarea class="form-control" id="reason"></textarea><br>

      <button class="btn btn-primary">OK</button>

      
    </div>
    
  </form>

</div>
{% endblock %}