{% extends 'project_manager_home.html' %}
{% block body %}
<div class="container">
		<form action = "/hrapp/leaveform/" method = "POST" name="frm_upload" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Leave Application</h2>
			<div class="form-group">
          <p>You must submit requests for absences, other than sick leave, two days prior to the first day you will be absent.</p> 

      <label>Leaves Available</label>
		    <input type="text" class="form-control" id="available"><br>

		    <label>Leaves Taken</label>
		    <input type="text" class="form-control" id="taken"><br>

		    <label>Leaves Remaining</label>
		    <input type="text" class="form-control" id="remain"><br>

		    <label>Type Of Leave</label>
			    <select class="form-control" id="leavetype">
						<option>Annual</option>
						<option>Casual</option>
						<option>Sick</option>
						<option>Unpaid</option>
					</select><br>

			<label> From Date</label>
			<input type="Date" name="" id="fdate" placeholder="Enter From Date"class="form-control"><br>

			<label>To Date</label>
			<input type="Date" name="" id="edate" placeholder="Enter To Date" class="form-control"><br>

			<label>Number Of Days</label>
			<input type="text" name="" id="days" placeholder="Enter the Number of Days" class="form-control"><br>

			<label>Reason</label>
			<input type="text" name="" id="reason" placeholder="Enter the Reason" class="form-control"><br>

			<label>Upload File (if any)</label>
      <input  type="file" placeholder="Upload your file" class="form-control" name="fileupload" id="upload">
		</div>	
		</form>
		
    
	</div>

{% endblock %}