{% extends 'employee_home.html' %}

{% block body %}

	<div class="container">
		<form action = "/hrapp/leaveform/" method = "POST" name="frm_upload">
      {% csrf_token %}
      <h2>Leave Application</h2>
			<div class="form-group">
          <p>You must submit requests for absences, other than sick leave, two days prior to the first day you will be absent.</p> 
          <table class="table table-bordered">
            <thead>
              <tr>
              <th>Leave available</th>
              <th>Leave Taken</th>
              <th>Leave Remaining</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

		    <label>Type Of Leave</label>
			    <select id="leavetype">
						<option value=0 selected>select</option>
					</select>

			<label> From Date</label>
			<input type="Date" name="" id="fdate" placeholder="Enter From Date">

			<label>To Date</label>
			<input type="Date" name="" id="edate" placeholder="Enter To Date"><br>

			<label>Number Of Days</label>
			<input type="text" name="" id="days" placeholder="Enter the Number of Days">

			<label>Reason</label>
      <input type="text" name="" id="reason" placeholder="Enter the Reason" class="form-control">
      
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Add</button>
      </div>

		</div>	
		</form>
		
    
	</div>

{% endblock %}