{% extends 'employee_home.html' %}

{% block body %}

	<div class="container">
		<form action = "/hrapp/leaveform/" method = "POST" name="frm_upload">
      {% csrf_token %}
      <h2>Leave Application</h2>
			<div class="form-group">
          <p>You must submit requests for absences, other than sick leave, two days prior to the first day you will be absent.</p> 
          <!-- <table class="table table-bordered">
            <thead>
             <tr>
              <th>Leave available</th>
              <th>Leave Taken</th>
              <th>Leave Remaining</th>
            </tr> 
            </thead>
            <tbody> -->
              <tr>
                <td>{{totalleave}}</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        <!-- <label>Type Of Leave:</label>
          <select id="leavetype" style="width: 200px;">
            <option value="0" selected>select</option>
            {% for list in data %}
            <option value="{{list.leave_type}}">{{list.leave_type}}</option>
            {% endfor %}
          </select><br> -->


			<label> From Date:</label>
			<input type="Date" name="fdate"placeholder="Enter From Date" required>

			<label>To Date:</label>
			<input type="Date" name="edate" placeholder="Enter To Date" required><br>

			<label>Number Of Days:</label>
			<input type="text" name="days" placeholder="Enter the Number of Days" pattern="{,0-9}" required>

			<label>Reason:</label>
      <textarea name="reason" placeholder="Enter the Reason" class="form-control" style="height: 300px;" required></textarea><br>

      <label>Leave Type</label>
      <select required name="leave_type">
        <option>Casual</option>
        <option>Sick</option>
        <option>Maternity</option>
        <option>Parental</option>
        <option>Other</option>
      </select>
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Apply</button>
      </div>

		</div>	
		</form>
		
    
	</div>

{% endblock %}