{% extends 'hr_home.html'%}
{% block body%}

<div class="container">
  <form action="/hrapp/leave_view/" method="POST">
  <h2> LEAVE REQUEST</h2>   
   <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Employee Id</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for list in leavelist %}
      <tr>
        <td>{{list.fk_employee_id.fname}}</td>
        <td>{{list.fk_employee_id.id}}</td>
        <td>{{list.from_date}}</td>
        <td>{{list.to_date}}</td>
        <td>{{list.leave_reason}}</td>
        <td><button class="btn btn-primary" type="submit">Accept</button></td>
        <td><button class="btn btn-default" type="submit">Reject</button></td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
  </form>
</div>
{% endblock%}
