{% extends 'candidate_home.html'%}

{% block body %}

<script type="text/javascript">
  $(document).ready( () => {
    $('.signupbtn').click( (e) => {
      const ques_id = e.currentTarget.id;
      console.log(ques_id);
      options = $('.options');
      $.ajax({
          url: "http://127.0.0.1:8000/hrapp/mockdisplay/",
          type: "POST",
          data: {
            ques_id:ques_id,
            csrfmiddlewaretoken:'{{ csrf_token }}'
          },
          success: res => {
            console.log(res);
            res_keys = Object.keys(res.data);
            console.log(res_keys);
            $('#question').html(res.data['mock_question']);
            $('#option1').html(res.data['option1']);
            $('#option2').html(res.data['option2']);
            $('#option3').html(res.data['option3']);
            $('#option4').html(res.data['option4']);

            // $('.signupbtn').attr('id',res.data['id']);
            // for (op=0, t=1, v=2; op<options.length; op+=2, t+=2, v++) {
            //     options[op].value = res.data[res_keys[v]];
            //     options[t].value  = res.data[res_keys[v]];
            //    console.log(options[op]);
            //    console.log(options[t]);
                
          },

          error: err => {
            console.log(err)
          }
      });
    });
  });
        
</script>

 
<form >
  {% csrf_token %}
   <div class="container">
    <h1>MOCK TEST</h1>
      <hr>
    <div class="form-group">
      <label>Questions :</label>
      <textarea name="question" cols="50" rows="2" class="form-control" id="question">
        {{mock.mock_question}}
      </textarea>
    </div>
    <div class="form-group">
      <label>Answer:</label><br>
      <input type="radio" name="answer" id="answer1" value="{{mock.option1}}" class="options">
      <input type="text" name="option1" placeholder="option 1" class="form-control options" value="{{mock.option1}}">
      <input type="radio" name="answer" id="answer2" value="{{mock.option2}}" class="options">
      <input type="text" name="option2" placeholder="option 2" class="form-control options" value="{{mock.option2}}">
      <input type="radio" name="answer" id="answer3" value="{{mock.option3}}" class="options">
      <input type="text" name="option3" placeholder="option 3" class="form-control options" value="{{mock.option3}}">
      <input type="radio" name="answer" id="answer4" value="{{mock.option4}}" class="options">
      <input type="text" name="option4" placeholder="option 4" class="form-control options" value="{{mock.option4}}">
    </div>
    <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="button" class="signupbtn" id="{{mock.id}}">Submit</button>
       </div>
  </div>
</form>
{% endblock %}