{% extends 'hr_home.html'%}



{% block body %}
<script type="text/javascript">
  $('document').ready(() =>{
    $("#desi").change( ()=>{
      desig = $('#desi').val();
      userid= $('.userid').val();
      console.log(desig);
      $.ajax({
        url:'http://127.0.0.1:8000/hrapp/payment/',
            type:'POST',
            data:{
              desig:desig,
              csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            success: res =>{
              console.log(res);
              var ids =""
              $.each(res, function(i, value) {
                ids +=('<option value="'+ value.id+'">'+ value.id +'</option>');
                $('#empid').html(ids);
              });

              $("#empid").change( () =>{
                  alert('change');
                  $("#emp_name").html(res.fname)
              });
            },
            error: r =>{
              console.log('error function is loading');
              console.log(r);
            }
      });
    });
  });
</script>

<div class="container">
  <h2>PAYMENT SLIP</h2>   
  <hr>
  <form action="/hrapp/payment/" method="POST">
  <div class="form-group">
    <label>Designation:</label>
    <select class="form-control" name="desig" id="desi">
      <option value="0">Select</option>
      <option  value="HR Manager">HR Manager</option>
      <option value="Project Manager">Project Manager</option>
      <option value="Other">Other</option>
    </select>
    <label>Employee id:</label>
    <select class="form-control" name="empid" id="empid">
        <option id="" value=""></option>
    </select>
    <label>Employee name:</label>
    <input type="text" id="emp_name" class="form-control" placeholder="">
    <label>No of unpaid leaves taken:</label>
    <input type="text" name="leaves" class="form-control">
    <label>Deduction per leave:</label>
    <input type="text" name="deduction_amt" class="form-control">
    <label>Total working Hrs:</label>
    <input type="text" name="working_hrs" class="form-control">
    <label>Over Time Hrs:</label>
    <input type="text" name="overtime" class="form-control">
    <label>charges per hr:</label>
    <input type="text" name="charge" class="form-control">

  </div>      
  <hr>   
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Earnings</th>
        <th>Amount</th>
        <th>Deduction</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Basic salary</td>
        <td></td>
        <td>Taxation</td>
        <td></td>
      </tr>
      <tr>
        <td>Other allowance</td>
        <td></td>
        <td>Other</td>
        <td></td>
      </tr>
      <tr>
        <td>Total Earnings</td>
        <td></td>
        <td>Total Deduction</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td colspan="3">Total salary:</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Save</button>
    </div>
</div>

{% endblock %}
