{% extends 'hr_home.html'%}



{% block body %}
<script type="text/javascript">
  $('document').ready(() =>{
    $("#desi").change( ()=>{
      desig = $('#desi').val();
      userid= $('.userid').val();
      
      console.log(desig);
      users = []
      $.ajax({
        url:'http://127.0.0.1:8000/hrapp/payment/',
            type:'POST',
            data:{
              desig:desig,
              csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            success: res =>{;
              var ids =""
              $.each(res, function(i, value) {
                ids +=('<option value="'+ value.id+'">'+ value.id +'</option>');
                $('#empid').html(ids);
                users.push(res[i]);
                
              });

              $("#empid").change( () =>{
                  selected_id = $("#empid").val();
                  for(i=0;i<users.length;i++){
                      if(users[i].id == selected_id){
                        $('#emp_name').val(users[i].fname+' '+users[i].lname);
                        break;
                      }
                  }
              });
            },
            error: r =>{
              console.log('error function is loading');
              console.log(r);
            }
      });
    });
  });
</script>

<div class="container">
  <h2>PAYMENT SLIP</h2>
  <hr>
  <form action="/hrapp/payment/" method="POST">
    <table>
      <tr>
        <th><label>Date:</label></th>
        <td><input type="date"></td>
      </tr>
      <tr>
        <th><label>Designation:</label></th>
        <td><select name="desig" id="desi" style="width: 200px; height: 30px;">
            <option value="0">Select</option>
            <option  value="HR Manager">HR Manager</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Other">Other</option>
          </select></td>
          <th><label>Employee id:</label></th>
          <td><select name="empid" id="empid" style="width: 200px; height: 30px;">
              <option selected>select</option>
              <option  value="" selected></option>
            </select></td>
            <th><label>Employee name:</label></th>
            <td><input type="text" id="emp_name" class="form-control" placeholder="" style="width: 200px;"></td>
      </tr>
      <tr>
        <th><label>No of unpaid leaves taken:</label></th>
        <td><input type="text" name="leaves" class="form-control" style="width: 200px;"></td>
        <th><label>Deduction per leave:</label></th>
        <td><input type="text" name="deduction_amt" class="form-control" style="width: 200px;"></td>
      </tr>
      <tr>
        <th><label>Total working Hrs:</label></th>
        <td><input type="text" name="working_hrs" class="form-control" style="width: 200px;"></td>
        <th><label>Over Time Hrs:</label></th>
        <td><input type="text" name="overtime" class="form-control" style="width: 200px;"></td>
        <th><label>charges per hr:</label></th>
        <td><input type="text" name="charge" class="form-control" style="width: 200px;"></td>
      </tr>
      </table>
  <hr>   
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Earnings</th>
        <th>Amount</th>
        <th>Deduction</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Basic salary</td>
        <td id="salary"></td>
        <td>Taxation</td>
        <td></td>
      </tr>
      <tr>
        <td>Over time Amount(if any)</td>
        <td></td>
        <td>Leave Deduction(if any)</td>
        <td></td>
      </tr>
      <tr>
        <td>Other allowance(if any)</td>
        <td></td>
        <td>Other</td>
        <td></td>
      </tr>
      <tr>
        <td>Total Earnings</td>
        <td></td>
        <td>Total Deduction</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td colspan="3">Total salary:</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Save</button>
    </div>
</div>

{% endblock %}
