{% extends 'hr_home.html'%}



{% block body %}
<script type="text/javascript">
  $('document').ready(() =>{
    $("#desig").click( ()=>{
      $.ajax({
        url:'http://127.0.0.1:8000/myapp/payment/',
            type:'POST',
            data:{
              desig1:$("#1").val(),
              desig2:$("#2").val(),
              desig3:$("#3").val(),
              csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            success: res =>{
              console.log(res);
              $("#1").val();
              $("#2").val();
              $("#3").val();
            },
            error: res =>{
              console.log('error function is loading');
              console.log(res);
            }
      });
    });
  });
</script>

<div class="container">
  <h2>PAYMENT SLIP</h2>   
  <hr>
  <div class="form-group">
    <label>Designation:</label>
    <select class="form-control" id="desig" name="designation">
      <option value="0" selected="">Select</option>
      <option  value="HR Manager" id="1">HR Manager</option>
      <option value="Project Manager" id="2">Project Manager</option>
      <option value="Other" id="3">Other</option>
    </select>
    <label>Employee id:</label>
   
    <select class="form-control">
      {% for user in list %}
        <option>{{user.id}}</option>
      {% endfor %}
    </select>
    <label>Employee name:</label>
    <input type="text" name="emp_name" class="form-control">
  </div>      
  <hr>   
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Earnings</th>
        <th>Amount</th>
        <th>Deduction</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Basic salary</td>
        <td></td>
        <td>Taxation</td>
        <td></td>
      </tr>
      <tr>
        <td>Other allowance</td>
        <td></td>
        <td>Other</td>
        <td></td>
      </tr>
      <tr>
        <td>Total Earnings</td>
        <td></td>
        <td>Total Deduction</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td colspan="3">Total salary:</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Save</button>
    </div>
</div>

{% endblock %}
