{% extends 'project_manager_home.html' %}

{% block body %}
<div class="container">
  <h2>PROJECT REGISTRATION</h2>
  
  
  <form action="/hrapp/projectreg/" method="POST" id="form1">

    {% csrf_token %}
    <div class="form-group">
      {{tlead}}
      <label>Title</label>
      <input class="form-control" id="title" placeholder="Enter Project Title" name="ptitle" required>
    </div>

    <div class="form-group">
      <label>Client</label>
      <input class="form-control" id="spnsr" placeholder="Enter Sponser Name" name="psponser"required>
    </div>

    <div class="form-group">
      <label>Cost Estimation</label>
      <input class="form-control"  id="cost_estimate" placeholder="Enter Cost Estimation" name="pcost" pattern="{,0-9}" required>
    </div>

    <div class="form-group">
      <label>Manager</label>
      <input class="form-control" id="manager" placeholder="Enter Project Manager Name" name="pmanger" required>
    </div>

    <div class="form-group">
      <label>Start Date</label>
      <input type="Date" class="form-control" id="strt_date" placeholder="Enter Starting Date" name="psdate" required>
    </div>

    <div class="form-group">
      <label>End Date</label>
      <input type="Date" class="form-control" id="end_date" placeholder="Enter Ending Date" name="pedate" required>
    </div>

    
 <!-- <div class="clearfix"> 
    <button type="button" class="cancelbtn" id="submit">SAVE</button>
    <button  type="button" class="signupbtn" id="cancel"><a href="/hrapp/taskadd?id={{currentproject.id}}">CONTINUE</a></button>
     </div> 
      --> 
      <table>
        <td><button class="btn btn-primary">Save</button></td>
        <td></td>
        <td>
        <td><button class="btn btn-primary">Cancel</button></td>
      </table>
  </form>
</div>
</div>
{% endblock %}
