{% extends 'project_manager_home.html' %}

{% block body %}
<div class="container">
  <h2>PROJECT REGISTRATION</h2>
  <div id="toast" hidden>{{response}}</div>
  
  <form action="/hrapp/projectreg/" method="POST">

    {% csrf_token %}
    <div class="form-group">
      {{tlead}}
      <label>Title</label>
      <input class="form-control" id="title" placeholder="Enter Project Title" name="ptitle">
    </div>

    <div class="form-group">
      <label>Sponser</label>
      <input class="form-control" id="spnsr" placeholder="Enter Sponser Name" name="psponser">
    </div>

    <div class="form-group">
      <label>Cost Estimation</label>
      <input class="form-control"  id="cost_estimate" placeholder="Enter Cost Estimation" name="pcost">
    </div>

    <div class="form-group">
      <label>Manager</label>
      <input class="form-control" id="manager" placeholder="Enter Project Manager Name" name="pmanger">
    </div>

    <div class="form-group">
      <label>Start Date</label>
      <input type="Date" class="form-control" id="strt_date" placeholder="Enter Starting Date" name="psdate">
    </div>

    <div class="form-group">
      <label>End Date</label>
      <input type="Date" class="form-control" id="end_date" placeholder="Enter Ending Date" name="pedate">
    </div>

    <!-- <div class="form-group">
      <label>Team Lead</label>
      <select class="form-control" id="teamlead">
        {% for user in tlead %}
        <option value="{{user.team_lead}}">{{user.team_lead}}</option>
        {% endfor %}
      </select>    </div> -->


    <button type="submit" class="btn btn-default" id="submit"><a href="task_assign_table.html">OK</a></button>
    <button type="submit" class="btn btn-default" id="cancel"><a href="task_assign_table.html">Continue</a></button>
  </form>
</div>
</div>
{% endblock %}
