{% extends 'candidate_home.html'%}

{% block body %}

<script type="text/javascript">
  $(document).ready( () => {
        mytime = 0;
        var myVar = '';
        options = $('.options');
        user_ans = '';

        function getAJax(){
        $.ajax({
          url: "http://127.0.0.1:8000/hrapp/question_view/",
          type: "POST",
          data: {
            csrfmiddlewaretoken:'{{ csrf_token }}',
            user_answer:user_ans,
          },
          success: res => {
            console.log(res);
            if(res == 'Failed to load'){
                clearInterval(myVar);
                clearInterval(update);
                $('.signupbtn').hide();
                $('#start').hide();
                $('#finish').show();
            }
            else{
              res_keys = Object.keys(res.data);
            $('#question').html(res.data['question']);
            $('#option1').html(res.data['option1']);
            $('#option2').html(res.data['option2']);
            $('#option3').html(res.data['option3']);
            $('#option4').html(res.data['option4']);
            $('.signupbtn').attr('id',res.data['id']);
            if($("input[name='answer']").is('checked')){
              checkedCheckboxes.push($("input[name='answer']").val());
            }
            for (op=0, v=2; op<options.length; op+=1,v++) {
                options[op].value = res.data[res_keys[v]];
                // console.log(options[op]);
              }
              $("input[name='answer']").prop('checked', false);
            }
            },

          error: err => {
            console.log(err);
          }
      });
      }
        function myTimer() {
          time += 1;
          $("#timer").val('00:00:'+time);
          if(time==10){
            time = -1;
              getAJax();
          }
        }

        function upDateTimer() {
          console.log(time)
          $.ajax({
          url:"http://127.0.0.1:8000/hrapp/question_view",
          type: 'GET',
          data:{
            time
          },
          success: res => {
            //res_keys = Object.keys(res.data);
            time = Number(res['time']);
            },

          error: err => {
            console.log(err);
          }
      });
        }
        if($('#timer').val()!=''){
          mytime = Number($('#timer').val());
          time = mytime
          myVar = setInterval(myTimer, 1000);
        }
        $('.btn-success').click(function(){
          $('.form-group').show();
          if(mytime==0){
            time = -1;
            myVar = setInterval(myTimer, 1000);
          }
          update = setInterval(upDateTimer,3000);

          $.ajax({
          url: "http://127.0.0.1:8000/hrapp/question_view",
          type: "GET",
          success: res => {
            // console.log(res);
            res_keys = Object.keys(res.data);
            $('#question').html(res.data['question']);
            $('#option1').html(res.data['option1']);
            $('#option2').html(res.data['option2']);
            $('#option3').html(res.data['option3']);
            $('#option4').html(res.data['option4']);
            $('.signupbtn').attr('id',res.data['id']);
            if($("input[name='answer']").is('checked')){
              checkedCheckboxes.push($("input[name='answer']").val());
            }
            for (op=0, v=2; op<options.length; op+=1,v++) {
                options[op].value = res.data[res_keys[v]];
                // console.log(options[op]);
              }
              $("input[name='answer']").prop('checked', false);
            },

          error: err => {
            console.log(err);
          }
      });
      });

      
      $('.signupbtn').click( (e) => {
        time = -1;
        user_ans=$("input[name='answer']:checked").val();
       console.log(user_ans)
      getAJax();
      myVar;
    });

    
  });
        
</script>

<form >
  {% csrf_token %}
   <div class="container">
    <h1>ONLINE EXAM</h1>
    <div id="start">
      <button type="button" class="btn btn-success" style="width: 200px;">START</button>
    </div>
    <div id="finish" hidden>
      <button class="btn btn-danger" style="width: 200px;">FINISH</button>
    </div>
    <div>
      <input type="text" readonly id="timer" {% if time %} value="{{time}}" {% endif %} style="width: 200px;">
    </div>
    <hr />
    
      <div class="form-group" hidden>
      <label>Questions :</label>
      <textarea name="question" cols="50" rows="2" class="form-control" id="question">
      </textarea>
      <label>Answer:</label><br>
      <input type="radio" name="answer" id="answer1" class="options" value="{{data.option1}}">
      <label id="option1"></label><br>
      <input type="radio" name="answer" id="answer2" class="options" value="{{data.option2}}">
      <label id="option2"></label><br>
      <input type="radio" name="answer" id="answer3" class="options" value="{{data.option3}}">
      <label id="option3"></label><br>
      <input type="radio" name="answer" id="answer4" class="options" value="{{data.option4}}">
      <label id="option4"></label>
    
    <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="button" class="signupbtn" >Submit</button>
       </div>
      </div>
  </div>
</form>
{% endblock %}