<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="POST" action="">
	<table>
		<tr>
			<th>Question :</th>
			<td><textarea name="question" cols="50" rows="2"></textarea>
		</tr>
		<tr>
			<th>Answer:</th>
			<td><input type="radio" name="answer"><input type="text" name="option1" placeholder="optipn 1">
				<input type="radio" name="answer"><input type="text" name="option2" placeholder="optipn 2">
				<input type="radio" name="answer"><input type="text" name="option3" placeholder="optipn 3">
				<input type="radio" name="answer"><input type="text" name="option4" placeholder="optipn 4"></td>
		</tr>
		<tr>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>
</form>
</body>
</html>