{% extends 'project_manager_home.html' %}
{% block body %}
<div class="container">
  <form action="/hrapp/resourceadd/" method="POST">
    {% csrf_token %}
    <h2>RESOURCES</h2>
  
    <label>Resource</label>
      <input type="text" name="resource" class="form-control" placeholder="Enter Resource  Name" required><br>

      <label>Resource Type</label>
      <select name="types" class="form-control" required>
        <option>SOFTWARE</option>
        <option>HARDWARE</option>
      </select>
      <br><button class="btn btn-primary">ADD</button>


  </form>
  </div>
{% endblock %}