{% extends 'project_manager_home.html' %}

{% block body %}
<div class="container">
  {{data}}
  <form action="/hrapp/rosterview/" method="POST">
    {% csrf_token %}
    <h2>ROSTER MANAGEMENT</h2>
      <div class="form-group">
          <label>From date</label>&nbsp;<input type="date" name="sdate" class="form control" required>&nbsp;&nbsp;<br><br>
          <label>To date</label>&nbsp;<input type="date" name="edate" class="form-control"required>&nbsp;&nbsp;
          <button  type="submit" class="cancelbtn">Continue</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Team Lead Name</th>
              <th>Project</th>
              <th>Task</th>
            
            </tr>
          </thead>
          <tbody>
              {% for task in data %}
            
              <tr>
                <td>{{task.fk_team_id.team_lead}}</td>
                <td>{{task.fk_project_id.project_title}}</td>
                <td>{{task.task_title}}</td>
                <!-- <td>{{task.fk_project_id.project_title}}</td> -->
          
              </tr>
              {% endfor %}

          </tbody>
        </table>
        <!-- <button  type="button" class="btn btn-primary">SAVE</button> -->
      </div>
  </form>
</div>
{% endblock %}
