{% extends 'project_maanger_home.html' %}

{% block body %}
<div class="container">
  <h2>ROSTER MANAGEMENT</h2>
  <form action="hrapp/rosterview/" method="POST">
      <div class="topnav-header">
          <label>From date</label>&nbsp;<input type="date" name="">&nbsp;&nbsp;&nbsp;
          <label>To date</label>&nbsp;<input type="date" name="">
          <button  type="button" class="btn btn-primary">Continue</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Employee Name</th>
              <th>Departement</th>
              <th>Project</th>
              <th>Task</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
              {% for items in rosterlist %}
              <tr>
                <td>{items.fk_employee_id}</td>
                <td>{items.}</td>
              </tr>

          </tbody>
        </table>
        <!-- <button  type="button" class="btn btn-primary">SAVE</button> -->
      
  </form>
</div>
{% endblock %}
