{% extends 'project_manager_home.html' %}

{% block body %}
<div class="container">
  
  <form action="/hrapp/rosterview/" method="POST">
{{data}}
    {% csrf_token %}
    <h2>ROSTER MANAGEMENT</h2>
      <div class="form-group">
          <label>From date</label>&nbsp;<input type="date" name="sdate" class="form control">&nbsp;&nbsp;
          <label>To date</label>&nbsp;<input type="date" name="edate" class="form-control">&nbsp;&nbsp;
          <button  type="submit" class="btn btn-primary">Continue</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Employee Name</th>
              <th>Departement</th>
              <th>Project</th>
              <th>Task</th>
            
            </tr>
          </thead>
          <tbody>
              {% for items in rosterlist %}
              <tr>
                <td>{items.fk_employee_id}</td>
                <td>{items.}</td>
              </tr>
              {% endfor %}

          </tbody>
        </table>
        <!-- <button  type="button" class="btn btn-primary">SAVE</button> -->
      </div>
  </form>
</div>
{% endblock %}
