{% extends 'project_manager_home.html' %}
{% block body %}
<div class="container">
  <h2>ADD TASK</h2>
  <form action="/hrapp/taskadd/" method="POST">

    {% csrf_token %}
    <div class="form-group">
        <select name="p_name"  class="form-control" required>
            {% for list in projectlist %}
            <option name="team_lead" >{{list.project_title}}</option>
            {% endfor %}
        </select><br>

      <label>Task</label>
      <input class="form-control" id="task" placeholder="Enter Task Name" name="task" required><br>

      <label>Priority</label>
      <input type="text" id="priority" name="priority" placeholder="Set Priority" class="form-control" pattern="{,0-9}" required><br>
    
      <label>Start Date</label>
      <input type="Date" name="sdate" class="form-control" placeholder="Enter Start Date" id="sdate" required><br>

      <label>Due Date</label>
      <input type="Date" class="form-control" id="duedate" placeholder="Enter Ending Date" name="edate" required><br>
    
      <label>Team Lead</label>

      <select name="team_lead"  class="form-control" required>
        {% for lead in teamlist %}
        <option name="team_lead" >{{lead.team_lead}}</option>
        {% endfor %}
      </select><br>
      
      <button class="btn btn-info"><a href="/hrapp/project_manager_home"> CANCEL</a></button>
      <button class="btn btn-link">SAVE</button>

      <!-- <div class="clearfix">
      		<button type="submit" class="cancelbtn"><a href="/hrapp/projectreg/">BACK</button>
     		 <button type="submit" class="signupbtn"><a href="/hrapp/resourceallocate/">CONTINUE</button>
   		 </div> -->
    </div>
  </form>
 </div>

{% endblock %}