{% extends 'project_manager_home.html' %}
{% block body %}
<div class="container">
		<form method="POST" action="/hrapp/taskview/">
		<h2>TASK VIEW</h2>
		<table  class="table table-hover">
			<tr>
				<thead>
						<th>Project Name</th>
						<th>Task Id</th>
						<th>Task Title</th>
						<th>Priority</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Team Lead</th>
						<br>
		
				</thead>
			</tr>
			<tbody>
				{% for task in tasks %}
				<tr>
					<td>{{task.fk_project_id.project_title}}</td>
					<td>{{task.id}}</td>
					<td>{{task.task_title}}</td>
					<td>{{task.task_priority}}</td>
					<td>{{task.task_start_date}}</td>
					<td>{{task.task_end_date}}</td>
					<td>{{task.fk_team_id.team_lead}}</td>
				</tr>
				{% endfor %}
			</tbody><br>
							
		</table>
		<button class="btn btn-primary">OK</button>
	</form>
		
	</div>

{% endblock %}